.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
  
  }
  
  .cardImg {
    max-width: 100%;
    height: auto;
  }
  
  .cardInfo {
    text-align: center;
  }
  
  .contenedorCard{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 12px;
  }